.about {
    display: flex;
    justify-content: center;
}

.about p{
    padding: 30px;
     max-width: 50%;
      background: wheat;
       border: 2px solid gray;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width:700px){
    .about p{
        max-width: 70%;
    }
    
}

@media screen and (max-width:500px){
    .about p{
        max-width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    
}