/* .navigation{
    list-style-type: none;
    display: flex;
    background-color: gold;
    margin-top: 0;
    justify-content: center;
}

.navigation li{
    padding: 25px;
    text-decoration: none;
    
}

.navigation a{
    text-decoration: none;
    color: blue;
}

.navigation a:hover{
    color: rgb(33, 188, 240);
}
*/
.logout {
    
    background-color: red;
    color: white;
    padding: 6px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 1px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 1px solid blue;
}


.logout:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 


.navigation {
    background-color: gold;
    display: flex;
    justify-content: center;
    position: relative;
}

.lista{
    display: flex;
    list-style-type: none;
}

.lista a {
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
}

.lista li {
    margin-right: 70px;
}

.lista a:hover{
    color: darkblue;
}

.slika{
    display: none;
    
}

 @media screen and (min-width: 740px) {
    .listaVisible{
        flex-direction: row;
        display: flex;
        list-style-type: none;
    }

    .listaVisible a {
        text-decoration: none;
        text-transform: uppercase;
        color: blueviolet;
    }

    .listaVisible li {
        margin-right: 70px;
        
    }

    .listaVisible a:hover{
        color: darkblue;
    }
    
} 


@media screen and (max-width: 740px) {

    .navigation{
        flex-direction: column;
        align-items: center;
    }
    
    .lista {
        flex-direction: column;
        display: none;
        
    }

    .lista li {
        margin-bottom: 5px;
    }

    .slika{
        display: block;
        width: 40px;
        position: absolute;
        top: 0;
        right: 19px;
        
    }
 
    .listaVisible{
        flex-direction: column;
        display: flex;
        list-style-type: none;
        margin-right: 33px;
        align-items: center;
    }

    .listaVisible a {
        text-decoration: none;
        text-transform: uppercase;
        color: blueviolet;
        border-bottom: 1px solid gray;
    }

    .listaVisible li{
        margin-top: 10px;
    } 

    .listaVisible a:hover {
        color: darkblue;
    
    }
    
    
}